<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h2>What they make - comparing the boss and the typical employee</h2>
        <p class="chatter">
          Total compensation includes salary and cash incentives as well as grants of stock and options. Larger public companies are now required to report the ratio between their median employee’s pay and the CEO’s total compensation. Smaller ones and those classified as emerging-growth companies are exempt. The numbers can be difficult to compare and interpret, however, for reasons that include whether companies count part-time and foreign employees.

        <table class="pay-table collapsed">
          <thead>
            <tr>
              <th class="portrait">
              <th class="name" data-sort="sortExec">CEO
              <th class="company" data-sort="sortCompany">Company
              <th class="ceo-pay sorted" data-direction="down" data-sort="exec_pay">Total CEO compensation
              <th class="employee-pay" data-sort="employee_pay">Median employee pay
              <th class="ratio" data-sort="sortRatio">Ratio
          <tbody>
          <tbody>
            <tr>
              <td colspan=9>
                <button class="expand">Show all rows</button>
        </table>
        <div class="source">
          <p>* New CEO
          <p> ** Interim CEO
          <p> † Former CEO (or planning to leave)
          <p>Source: Equilar, Inc.
        </div>
        <div class="credit">
          The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script>
window.payData = <%= JSON.stringify(csv.pay2019) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
